@import 'tailwindcss';

:root {
  --background: #fff7eb;
  --header: #ffffff;
  --header-border: #e8dfd1;
}

@theme {
  --color-cream: #faf6ec;
  --color-surface: #ffffff;
  --color-surface-soft: #fbfaf3;

  --color-green: #0e4f2a;
  --color-green-dark: #07391d;
  --color-green-light: #ddedd8;

  --color-orange: #ff8a2a;
  --color-orange-dark: #e96f12;
  --color-orange-light: #ffe3c7;

  --color-text-main: #123524;
  --color-text-muted: #5f6f64;
  --color-text-light: #8a968d;

  --color-border-soft: #e8dfd1;
  --color-card-border: #efe5d6;
}

body {
  background: var(--background);
  font-family: Inter, sans-serif;
  margin: 0 auto;
}
