@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Nunito+Sans:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';

:root {
  --background: #fdf7f1;
  --secundary-background: #fffffff4;
  --border-beige: #f1e9dc;

  --primary-green: #0e4f2a;
  --secondary-green: #123524;
  --light-green: #ddedd8;

  --primary-orange: #f0700f;
  --secondary-orange: #ea580c;
  --light-orange: #fcead7;

  --muted-green-text: #5f6f64;

  --page-max-width: 1440px;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background: var(--background);
}
h1 {
  font-family: 'Lora', serif;
}
